/*
========================
Base-Typography
========================
*/

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.17em;
}

h4 {
	font-size: 1em;
}

h5 {
	font-size: 0.83em;
}

p {
	line-height: 1.5;
	margin: 0 0 1em;
}

p + p {
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

code, pre {
	font-family: monospace, serif;
	font-size: .9em;
	background: whitesmoke;
	padding-left: 1em;
	display: block;
}

pre {
	border-top: 1px solid whitesmoke;
	border-bottom: 1px solid whitesmoke;
	padding: .5em 0;
	margin-bottom: 1em;
}

ul {
    list-style: none;
    padding:0;
    margin:0 0 1em 0;
}

li { 
    padding-left: 1em; 
    text-indent: -.7em;
}


a {
  text-decoration: none;
}